body{
    background-image: url(Images/space-background.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Odibee Sans', cursive; 
    color: #a6ff4d;
    height: 100%;
}
html{
    height: 100%;
}



h1{
    font-family: 'Gochi Hand', cursive;
    color:    #00bfff;
    text-shadow: 1px 2px  #a6ff4d;
    font-size: 40px;
    text-align: center;

}
form{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
button { 
    background-color: #a6ff4d;
    color: #00bfff;
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    border-radius: 8px;
    font-family: 'Odibee Sans', cursive; 
}

h2{
    text-align: center;
    font-size: 30px;
}

img{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

p{
    text-align: center;
    font-size: 26px;
    padding: 15px;
}

.jokes {
    color: gainsboro;
    background: #00bfff;
    border-radius: .4em;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
